* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containar {
  padding: 0 5%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.btn {
  padding: 5px 10px;
  outline: none;
  border: 0;
  background-color: #f4a8ce;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  border-radius: 5px;
  color: black;
}
.btn:hover {
  font-weight: bold;
}
.active {
  background-color: blue;
  color: #fff;
}

/* ================ */
h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

/* =========== */

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  h5,
  h6,
  h7 {
    font-size: 12px;
  }
}
